@import "../../assets/styles/variables.scss";

.login-form-container {
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 3rem 0;
}

.login-content {
  background-color: #ffffffb7;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.47);
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: $primary-color;
  text-align: left;
}

.input-section {
  padding: 0.5rem;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  background-color: $primary-color;
  color: $text-light;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
