@import "../../../assets/styles/variables.scss";

.page-header {
  .page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }
}

.review-overview-card {
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;

  h5 {
    font-weight: 600;
    color: #333;
  }

  .avg-stars {
    font-size: 1rem;
    color: $cate-heading;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: #777;
  }
}
