@import "../../../assets/styles/variables.scss";

.product-description {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem;

  .product-details-wrapper {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    flex-wrap: wrap;

    .product-image {
      width: 500px;
      border-radius: 1rem;
      background-color: #f4f4f4;
      object-fit: cover;
    }

    .product-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 1rem;
      }

      .rating {
        font-size: 1rem;
        color: #444;
        margin-bottom: 1rem;
      }

      .price {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 1rem;
      }

      .desc {
        font-size: 1rem;
        color: #666;
        margin-bottom: 2rem;
      }

      .add-to-cart {
        background-color: $primary-color;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        margin: 0.3rem 0.3rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $outline-color;
        }
      }

      .add-review {
        background-color: $primary-color;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        margin: 0.3rem 0.3rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $outline-color;
        }
      }
    }
  }
}

.review-section-title {
  margin: 2rem 0 1rem 5rem;
  font-size: 20px;
  font-weight: bold;
}

.review-card {
  background: $text-light;
  padding: 1rem 1.25rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.237);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90%;
  margin: 2rem auto;

  .review-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;

    .stars {
      display: flex;
      gap: 2px;
    }

    .reviewer-name {
      font-weight: 600;
      margin-left: 1.5rem;
    }

    .review-date {
      color: gray;
      font-size: 0.9rem;
      margin-left: auto;
    }
  }

  .review-body {
    font-size: 1rem;
    color: #333;
    margin-top: 4px;
  }
}
