@import "../../../assets/styles/variables.scss";

.review-form-container {
  width: 80%;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.185);

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 992px) {
    width: 60%;
  }

  .section-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 3rem;
    word-wrap: break-word;
  }

  .add-btn {
    width: 100%;
    font-weight: $font-semibold;
    background-color: $primary-color;
    color: $text-light;
  }
}

.review-section-container {
  .review-section-title {
    margin: 2rem 0 1rem 5rem;
  }
}
