@import "../../assets/styles/variables.scss";

.hero-banner {
  background: $primary-color;
  border-radius: 20px;
  color: $text-light;
  box-shadow: $shadow-soft;

  h1 {
    color: $text-light;
  }

  p {
    color: #e0d7d7;
  }

  .shop-btn {
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #fff;

      svg {
        transform: translateX(4px);
      }
    }

    svg {
      transition: transform 0.3s ease;
    }
  }
}
